 * {
   box-sizing: border-box; 
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 50px 0;
    background: url('jezael-melgoza-layMbSJ3YOE-unsplash-1-scaled.jpg')50%/cover no-repeat scroll;

}
.container{
    max-width: 1200px; 
    background: url('jezael-melgoza-layMbSJ3YOE-unsplash-1-scaled.jpg') 50%/cover no-repeat fixed;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.container > h1, .container > h3{
    text-transform: uppercase;
    background-color:rgba(0,0,0,.8);
    letter-spacing: 3px;
    max-width: 400px;
    margin: 15px auto;

}
.container > h1{
    margin: 0 auto 15px;
}
.photo{
    max-width: 600px;
    height: 400px;
    background: url('temple-in-asakusa.jpg') 50%/cover no-repeat;
    border: 10px solid #fff;
    margin: 0 auto;
}
.metro{
    margin: 30px auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.metro__photo{
    width: 400px;
    height: 300px;
    background: url('2dlg5wm4ycsgc44k0kg4swcsg.jpg') 50%/cover no-repeat;
    margin: 0 10px 0 0;
}
.metro__about{
    width: 390px;
    text-align: left;
    background-color: rgba(0,0,0,.4);
    padding: 1rem;
}
.metro__about > p {
    margin: 0;
}

.look{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.look__photo_1 {
    width: 350px;
    height: 250px;
    background: url('1.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.look__photo_2 {
    width: 350px;
    height: 250px;
    background: url('2.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.look__photo_3 {
    width: 350px;
    height: 250px;
    background: url('3.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.look__photo_4 {
    width: 350px;
    height: 250px;
    background: url('4.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.look__photo_5 {
    width: 350px;
    height: 250px;
    background: url('5.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.look__photo_6 {
    width: 350px;
    height: 250px;
    background: url('6.jpeg') 50%/cover no-repeat;
    margin: 10px;
}
.button{
    width: 200px;
    height: 35px;
    background-color: yellow ;
    margin: 0 auto;
    line-height: 35px;
    color: black;
}
.button:hover{
    cursor: pointer;
    opacity: .7;

}


